body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2041 !important;
  color: #ccc !important;
  clear: both;
}

#search-bars {
  display: inline-block;
  width: 40%;
}

.container-fluid {
  padding-top: 16px;
}
#search-bars input {
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
}

.search-bar__wrapper{
  height: 50px;
  position: relative;
  margin-left: 24px;
  margin-bottom: 24px;
}

.search-bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 16px 10px 50px;

  background: #333452;
  border: 1px solid #5c5c74;
  border-radius: 5px;

  font-size: 18px;
}

.search-bar:focus {
  box-shadow: 0 0 4px #5c5c74;

}
.v-centering-wrapper {
  display: inline-block;
  position: absolute;
  height: 100%;
}

.search-bar__icon-wrapper { left: 2%; }

.search-bar__icon {
  color: #abc;
  font-size: 24px;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 24px;
}

.search-bar__icon--ddg {
  height: 34px;
  left: -6px;
}

#to-do {
  width: 40%;
  text-align: right;
}

#text-area {
  text-align: left;
}
.add-text__btn {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border: none;
  opacity: 0.2;
  background: black;
  color: white;
  font-size: 1.4rem;
}

.add-text__textarea {
  width: 100%;
  height: 150px;
  padding: 4px 8px;
  box-sizing: border-box;
  border: none;
  background: black;
  opacity: 0.4;
  color: white;
  margin-bottom: 16px;
  scrollbar-width: thin;
  scrollbar-color: white black;
}
#add-text-btn:focus {
  animation: 0.2s turn-opaque forwards;
  outline: none;
}

#add-text-btn:hover {
  animation: 0.2s turn-opaque forwards;
}

.to-do__wrapper {
  display: inline-block;
}


#development-sign {
  width: 100%;
  background: yellow;
  color: black;
  text-align: center;
  height: 3.6rem;
  line-height: 3.6rem;
  font-size: 1.2rem;
}

#add-text > i {
  display: inline-block;
  position: relative;
  font-size: 0.8em;
  top: -0.1em;
}

.to-do__textarea-btn {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: white;
  margin-left: 8px;
}

.to-do__textarea-btn--save:focus {
  outline: none;
  box-shadow: 0 0 1px 1px white;
  animation: turn-opaque-1 0.2s forwards;
}

.to-do__textarea-btn--save:hover {
  animation: turn-opaque-1 0.2s forwards;
}
.to-do__textarea-btn--save {
  background: #2e86ab;
  opacity: 0.6;
}

.to-do__textarea-btn--close {
  background: black;
  opacity: 0.3;
}

.to-do__textarea-btn--close:focus {
  outline: none;
  animation: turn-opaque 0.2s forwards;
  box-shadow: 0 0 4px white;
}

.to-do__textarea-btn--close:hover {
  animation: turn-opaque 0.2s forwards;
}
/* animations */

@keyframes turn-opaque {
  to {opacity: 0.5; }
}

@keyframes turn-opaque-1 {
  to {opacity: 1; }
}
@keyframes rotate-out {
  to {
    transform: rotateZ(180deg);
    opacity: 0;
  }
}

@keyframes to-textbox {
  from { opacity: 0.4; }
  to {
    height: 150px;
    line-height: 150px;
    opacity: 0.4;
  }
}

@keyframes to-button {
  to {
    height: 2em;
    opacity: 0.2;
  }
}