@keyframes kf-flip-first-half {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
        box-shadow: 2px 2px 5px #666;
    }
    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        box-shadow: -3px 2px 5px #666;
    }
}
@keyframes kf-flip-second-half {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg) rotateY(180deg);
        box-shadow: 2px 2px 5px #666;
    }
    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 180deg) rotateY(180deg);
        box-shadow: -3px 2px 5px #666;
    }
}
