@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Work+Sans&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#test-card {
  width: 200px;
  height: 200px;
}

.showCase {
  width: 400px;
}

.margin-normal {
  margin: 16px;
}

.text-size-2 {
  font-size: 1.2rem;
}

.text-color-primary {
  color: #282c34;
}

.text-font-bold {
  font-weight: bold;
}

.margin-xs {
  margin: 4px;
}

.margin-2 {
  margin: 12px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.flex-row > * {
  margin-right: 8px;
}